@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .section {
    height: 60vh;
    max-height: 20em;
  }
  /*Section1 + navigation*/
  .heading {
    font-size: 1em;
  }
  .hero-text h1 {
    font-size: 1.8em;
  }
  .hero-text p,
  a,
  .content p,
  .newstext p,
  .gallery4 p {
    font-size: 1em;
  }
  .hero-text p {
    margin: 3% 2% 3% 30%;
  }
  /*All inputs*/
  input {
    font-size: 0.8em;
  }
  /*gallery 1 +2*/
  div.gallery img {
    display: inline-block;
    width: 32.5%;
  }
  .smallimg2 {
    margin-left: 0.8%;
  }
  .smallimg3 {
    float: right;
  }
  /*Section2 : history + service*/
  .section2 {
    height: 60vh;
    max-height: 20em;
  }
  .history,
  .service {
    width: 49.4%;
    height: 100%;
    display: inline-block;
  }
  .service {
    float: right;
  }
  .content1 {
    margin-left: 55%;
  }
  .section4 {
    height: 100%;
    max-height: 100em;
    padding: 4% 3%;
  }
  div.news {
    display: inline-block;
    width: 25%;
    height: 41vh;
    padding: 1%;
    margin: 0 auto;
  }
  div.news img {
    display: block;
    width: 100%;
    margin-bottom: 5%;
  }
  /*Subscribe email*/
  .gallery4 {
    height: 25vh;
    max-height: 15em;
  }
  .gallery4 h2 {
    font-size: 1.5em;
  }
  .content4 {
    padding-top: 4%;
  }
  .content4 h2 {
    margin-bottom: -1%;
  }
  /*Footer*/
  .footer {
    font-size: 0.9em;
    height: 10vh;
    max-height: 3em;
  }
  .footer div {
    display: inline-block;
    width: 32%;
    margin-top: 2%;
  }
}
